
.text1 {
    color: #676765;
    text-align: center;
}

.white {
    color: #fff;
}

.f18 {
    font-size: 18px;
}


.start-box {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 50%;
     background: #70bbff;
     border-radius: 15px;
     text-align: center;
}

.start-box .form-control {
    width: 30%;
    margin: 0 auto;
    border-radius: 0;
}

.start-box h2 {
    font-size: 65px;
    color: #fff;
    margin-bottom: 50px;
}
@media(max-width: 767px) {
    .start-box,
    .start-box .form-control,
    .start-box .btn-default {
        width: 90%;
    }
    .start-box .btn-default {
        margin-left: 0;
    }
}

.transparant {
    background: transparent;
}

.navbar-default {
    background-color: #3797ed;
    border:0;
    border-radius:0;
    margin-bottom:0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: #fff;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.content {
    min-height: calc(100vh - 100px);
    padding-top: 50px;
}

.footer {
    background-color: #3797ed;
    padding: 10px;
}
.form-control.has-success {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.form-control.has-error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

label.has-error {
    color: #fa0000;
    font-size: 12px;
}

.login-page {
    background: #2a1f23;
    width: 30%;
    padding: 20px;
    color: #cacaca;
}

.login-page > h3 {
    margin-top: 0px;
    margin-bottom: 40px;
}

.login-page .form-control {
    background-color: #e3e3e3;
}

.action-box {
    margin-top: 10px;
    margin-bottom: 20px;
}

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons, .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons {
    float: none;
}
